<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="uza - Model Agency HTML5 Template">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>UPSIDC</title>

    <!-- Favicon -->
    <link rel="icon" href="/img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="/style.css">

    <!-- <link href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"> -->
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    
    <link href="/css/style-todo.css" rel="stylesheet">
    <!-- Announcements -->
    <script type="text/javascript" src="/js/sortit.js"></script>
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/announcements-events.css" rel="stylesheet">


    <!--chat box css-->
    <style type="text/css">
        .chat {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .chat li {
            margin-bottom: 10px;
            padding-bottom: 5px;
            border-bottom: 1px dotted #B3A9A9;
        }

        .chat li.left .chat-body {
            margin-left: 60px;
        }

        .chat li.right .chat-body {
            margin-right: 60px;
        }


        .chat li .chat-body p {
            margin: 0;
            color: #777777;
        }

        .panel .slidedown .glyphicon,
        .chat .glyphicon {
            margin-right: 5px;
        }

        .panel-body {
            overflow-y: scroll;
            height: 405px;
        }

        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: #E7E7E7;
        }

        ::-webkit-scrollbar {
            width: 8px;
            background-color: #F5F5F5;
        }

        ::-webkit-scrollbar-thumb {
            background-color: dodgerblue;
            border: 1px solid rgba(92, 92, 92, 0.5);
            border-radius: 10px;
        }
    </style>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

    <!--humne khud banaya-->
    <style>
        a:hover{ 
            text-decoration: none;
        }
        @media (min-width: 1200px){
            .row-added {
                margin-right: -15px;
                margin-left: -200px;
            }
            .column-added{
                text-orientation:upright; 
                writing-mode: vertical-rl;
                
            }
            .topmargin{
                margin-top: 15%;
            }
            
        }
        @media (min-width: 992px) and (max-width: 1199px){
            .row-added {
                margin-right: -15px;
                margin-left: -15px;
            }
            .column-added{
                text-orientation:upright; 
                writing-mode: vertical-rl;
               
            }
            .topmargin{
                margin-top: 15%;
            }
            
        }
        @media (min-width: 768px) and (max-width: 991px){
            .row-added {
                margin-right: -15px;
                margin-left: -15px;
            }
            h2 {
                margin-left: 200px;
                margin-bottom: -75px;
            }
            .topmargin{
                margin-top: 15%;
            }
            .chat-flex{
                flex: 0 0 100%;
                max-width: 95%;
                margin: auto;
            }
            leftfix{
                left: -5%;
            }
        }


    @media (min-width: 576px) and (max-width: 767px){
            .row-added {
                margin-right: -15px;
                margin-left: -15px;
            }
            .topmargin{
                margin-top:15%;
            }
            h2 {
                margin-left: 120px;
                margin-bottom: -75px;
            }
            leftfix{
                left: -6%;
            }
            
        }

    @media (min-width: 405px) and (max-width: 575px){
            .topmargin{
                margin-top:15%;
            }
            h2 {
            margin-left: 80px;
            margin-bottom: -75px;
            }
            leftfix{
                left: -4%;
            }
            
        }

    @media (min-width: 380px) and (max-width: 404px){
            .topmargin{
                margin-top:15%;
            }
            h2 {
            margin-left: 40px;
            margin-bottom: -75px;
            }
           
        }

    @media (min-width: 350px) and (max-width: 379px){
            .topmargin{
                margin-top: 15%;
            }
            h2 {
            margin-left: 10px;
            margin-bottom: -75px;
            }
            
        }
    @media (min-width: 320px) and (max-width: 349px){
            .topmargin{
                margin-top: 15%;
            }
            h2 {
            
            margin-bottom: -75px;
            }
        }

        .container_todo{
            width:90%;
            margin: auto;
        }
        
    
    .scroll_text{
        height:500px;
        overflow:auto;
        padding:0px 15px;
        
    }
    .scroll_text::-webkit-scrollbar {  
        width: 8px;  
    }  
    .scroll_text::-webkit-scrollbar-track {  
        background-color: #E7E7E7;
    }  
    .scroll_text::-webkit-scrollbar-thumb {  
        background-color: dodgerblue;
        border: 1px solid rgba(92, 92, 92, 0.5);
        border-radius: 10px;
    }  
    .scroll_text::-webkit-scrollbar-thumb:hover {  
        background-color: #000;  
    }
    .pt-lg-5{
        padding-top: 0!important;
    }
    </style>
    
</head>

<body style="font-family:Aileron">
    <!-- Preloader -->
    <div id="preloader">
        <div class="wrapper">
            <div class="cssload-loader"></div>
        </div>
    </div>

    

    <!-- ***** Header Area Start ***** -->
    <header class="header-area">
        <!-- Main Header Start -->
        <div class="main-header-area">
            <div class="classy-nav-container breakpoint-off">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between" id="uzaNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="/employees/<%= username %>"><img src="/img/core-img/logo+.png" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">
                        <!-- Menu Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul id="nav">
                                <li class="current-item"><a href="/boss/<%= username %>">Home</a></li>
                                
                                <li><a href="#todo">To-Do</a></li>

                                <li><a href="#">My Attendance</a></li>
                                
                                <li><a href="/boss/<%= username %>/contacts">Contacts</a></li>

                                <li><a href="/boss/<%= username%>/profile">My Profile</a></li>
                                <li><a href="/logout">Log Out</a></li>
                            </ul>

               

                        </div>
                        <!-- Nav End -->

                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->



    <!-- ***** Welcome Area Start ***** -->
    <section class="welcome-area">
        

            

            <!-- Single Welcome Slide -->
            <div class="single-welcome-slide">
                <section class="two-column-list mb-sm-5 pr-lg-3 container-fluid" id="two-column-list">
                            <div class="container_todo">
                                <div class="row " >
                                        <div class="col-lg-1 pr-0 topmargin">   
                                                <h2 class="column-added">
                                                        ANNOUNCEMENTS
                                                    </h2>
                                        </div>
                                        
                                    <div class="col-lg-5 pr-0 scroll_text topmargin leftfix" style="left: -6%;">
                                        <section aria-label="Announcements" class="announcements">
                                           
                                            <div class="announcement-slider border-r-xs-0 border-r position-relative ">
                                                <div>
                                                    <ul class="nolist list-unstyled position-relative mb-0 px-lg-5 pt-lg-5 ">
                                                        <% announcements.forEach(function(announcement){ %>
                                                        <li class="border-bottom pb-3 mt-3">
                                                            <span class="meta text-uppercase"><h5 ><b><%= announcement.date %></b></h5></span>
                                                            <h4 class="font-weight-bold mt-0 ">
                                                                    <%= announcement.announcement %>
                                                            </h4>
                                                        </li>
                                                        <% }) %>
                                                    </ul>
                                                </div>
                        
                                                
                                        </section>
                                        
                                    </div>
                                    <div class="col-md-1 topmargin" ></div>

                                    <!-- Chat Start Here-->
                                    <div class="col-md-4 topmargin chat-flex" >
                                            <div class="panel panel-primary">
                                                <div class="panel-heading">
                                                    <span class="glyphicon glyphicon-comment"></span> Chat
                                                    <div class="btn-group pull-right">
                                                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                                            <span class="glyphicon glyphicon-chevron-down"></span>
                                                        </button>
                                                        <ul class="dropdown-menu slidedown">
                                                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-refresh">
                                                                    </span>Refresh</a></li>
                                                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-ok-sign">
                                                                    </span>Available</a></li>
                                                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-remove">
                                                                    </span>Busy</a></li>
                                                            <li><a href="http://www.jquery2dotnet.com"><span
                                                                        class="glyphicon glyphicon-time"></span>
                                                                    Away</a></li>
                                                            <li class="divider"></li>
                                                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-off"></span>
                                                                    Sign Out</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="panel-body">
                                                    <ul class="chat">
                                                        <li class="left clearfix"><span class="chat-img pull-left">
                                                                <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar"
                                                                    class="img-circle" />
                                                            </span>
                                                            <div class="chat-body clearfix">
                                                                <div class="header">
                                                                    <strong class="primary-font">Jack Sparrow</strong> <small
                                                                        class="pull-right text-muted">
                                                                        <span class="glyphicon glyphicon-time"></span>12 mins ago</small>
                                                                </div>
                                                                <p>
                                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum
                                                                    ornare
                                                                    dolor, quis ullamcorper ligula sodales.
                                                                </p>
                                                            </div>
                                                        </li>
                                                        <li class="right clearfix"><span class="chat-img pull-right">
                                                                <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar"
                                                                    class="img-circle" />
                                                            </span>
                                                            <div class="chat-body clearfix">
                                                                <div class="header">
                                                                    <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>13 mins
                                                                        ago</small>
                                                                    <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                                                </div>
                                                                <p>
                                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum
                                                                    ornare
                                                                    dolor, quis ullamcorper ligula sodales.
                                                                </p>
                                                            </div>
                                                        </li>
                                                        <li class="left clearfix"><span class="chat-img pull-left">
                                                                <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar"
                                                                    class="img-circle" />
                                                            </span>
                                                            <div class="chat-body clearfix">
                                                                <div class="header">
                                                                    <strong class="primary-font">Jack Sparrow</strong> <small
                                                                        class="pull-right text-muted">
                                                                        <span class="glyphicon glyphicon-time"></span>14 mins ago</small>
                                                                </div>
                                                                <p>
                                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum
                                                                    ornare
                                                                    dolor, quis ullamcorper ligula sodales.
                                                                </p>
                                                            </div>
                                                        </li>
                                                        <li class="right clearfix"><span class="chat-img pull-right">
                                                                <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar"
                                                                    class="img-circle" />
                                                            </span>
                                                            <div class="chat-body clearfix">
                                                                <div class="header">
                                                                    <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>15 mins
                                                                        ago</small>
                                                                    <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                                                </div>
                                                                <p>
                                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum
                                                                    ornare
                                                                    dolor, quis ullamcorper ligula sodales.
                                                                </p>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="panel-footer">
                                                    <div class="input-group">
                                                        <input id="btn-input" type="text" class="form-control input-sm"
                                                            placeholder="Type your message here..." />
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-warning btn-sm" id="btn-chat">
                                                                Send</button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <div class="col-lg-10 pl-0">
                                            <section class="events-section pl-lg-3 topmargin " aria-label="Events">
                            
                                                <div class="events p-lg-5">
                                                    <div class="events-block">
                                                        <ul class="nolist list-unstyled position-relative mb-0 px-lg-3">
                                                            <li class="border-bottom d-flex align-items-center">
                                                                <div class="events-date text-uppercase text-center">
                                                                    <a class="text-white" href="#">May
                                                                        <span>10</span>
                                                                    </a>
                                                                </div>
                                                                <div class="d-inline-block pl-3 event-li">
                                                                    <h3 class="font-weight-bold mt-0">
                                                                        <a href="#">
                                                                            CMS City Exhibition
                                                                        </a>
                                                                    </h3>
                                                                    <p>
                                                                        10:30 PM
                                                                    </p>
                                                                </div>
                                                            </li>
                                                            <li class="border-bottom d-flex align-items-center">
                                                                <div class="events-date text-uppercase text-center">
                                                                    <a class="text-white" href="#">May
                                                                        <span>31</span>
                                                                    </a>
                                                                </div>
                                                                <div class="d-inline-block pl-3 event-li">
                                                                    <h3 class="font-weight-bold mt-0">
                                                                        <a href="#">
                                                                            Content Management Expo
                                                                        </a>
                                                                    </h3>
                                                                    <p>
                                                                        6:30 PM
                                                                    </p>
                                                                </div>
                                                            </li>
                                                            <li class="border-bottom d-flex align-items-center">
                                                                <div class="events-date text-uppercase text-center">
                                                                    <a class="text-white" href="#">June
                                                                        <span>07</span>
                                                                    </a>
                                                                </div>
                                                                <div class="d-inline-block pl-3 event-li">
                                                                    <h3 class="font-weight-bold mt-0">
                                                                        <a href="#">
                                                                            Techolocon
                                                                        </a>
                                                                    </h3>
                                                                    <p>
                                                                        8:30 AM
                                                                    </p>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                        <a class="all pos-stat text-uppercase ml-lg-5" href="/calendar/">All events
                                                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                                                        </a>
                                                        <div class="left-right-arrows second">
                                                            <button class="prev-arrow-events" type="button"><i class="fa fa-chevron-left"></i></button>
                                                            <button class="next-arrow-events" type="button"><i class="fa fa-chevron-right"></i></button>
                                                        </div>
                            
                                                    </div>
                                                    <div class="events-block">
                                                        <ul class="nolist list-unstyled position-relative mb-0 px-lg-3">
                            
                                                            <li class="border-bottom d-flex align-items-center">
                                                                <div class="events-date text-uppercase text-center">
                                                                    <a class="text-white" href="#">June
                                                                        <span>15</span>
                                                                    </a>
                                                                </div>
                                                                <div class="d-inline-block pl-3 event-li">
                                                                    <h3 class="font-weight-bold mt-0">
                                                                        <a href="#">
                                                                            Cloud City Expo
                                                                        </a>
                                                                    </h3>
                                                                    <p>
                                                                        12PM
                                                                    </p>
                                                                </div>
                                                            </li>
                                                            <li class="border-bottom d-flex align-items-center">
                                                                <div class="events-date text-uppercase text-center">
                                                                    <a class="text-white" href="#">June
                                                                        <span>23</span>
                                                                    </a>
                                                                </div>
                                                                <div class="d-inline-block pl-3 event-li">
                                                                    <h3 class="font-weight-bold mt-0">
                                                                        <a href="#">
                                                                            Solodev at the Education Conference
                                                                        </a>
                                                                    </h3>
                                                                    <p>
                                                                        10:30
                                                                    </p>
                                                                </div>
                                                            </li>
                                                            <li class="border-bottom d-flex align-items-center">
                                                                <div class="events-date text-uppercase text-center">
                                                                    <a class="text-white" href="#">July
                                                                        <span>25</span>
                                                                    </a>
                                                                </div>
                                                                <div class="d-inline-block pl-3 event-li">
                                                                    <h3 class="font-weight-bold mt-0">
                                                                        <a href="#">
                                                                            AWS Challenge Conference
                                                                        </a>
                                                                    </h3>
                                                                    <p>
                                                                        9:15AM
                                                                    </p>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                        <a class="all text-uppercase ml-lg-5" href="/calendar/">All events
                                                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                                                        </a>
                                                        <div class="left-right-arrows second">
                                                            <button class="prev-arrow-events" type="button"><i class="fa fa-chevron-left"></i></button>
                                                            <button class="next-arrow-events" type="button"><i class="fa fa-chevron-right"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                </div>
                                <div class="row topmargin">
                                    <div class="col-md-6" id="todo">
                                        <div class="todolist not-done">
                                         <h1>To-do</h1>
                                            <input style="font-size:20px" type="text" class="form-control add-todo" placeholder="Add to-do">
                                                <button id="checkAll" style="font-size:20px" class="btn btn-primary">Mark all as done</button>
                                                
                                                <hr>
                                                <ul id="sortable" class="list-unstyled" style="font-size:20px">
                                                <li class="ui-state-default">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" value="" />Take out the trash</label>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="todo-footer" style="font-size:20px">
                                                <strong><span class="count-todos"></span></strong> Items Left
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="todolist">
                                         <h1>Already Done</h1>
                                            <ul id="done-items" class="list-unstyled" style="font-size:20px">
                                                <li>Some item <button class="remove-item btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-remove"></span></button></li>
                                                
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-between topmargin" style="display:flow-root">

                                    <!-- Single Footer Widget -->
                                    <div class="col-12 col-sm-6 col-lg-3">
                                        <div class="single-footer-widget mb-80">
                                            <!-- Widget Title -->
                                            <h4 class="widget-title">Quick Links</h4>
                    
                                            <!-- Nav -->
                                            <nav>
                                                <ul class="our-link">
                                                    <li class="current-item"><a href="/">Home</a></li>
                                                    
                                                    <li><a href="#todo">To-Do</a></li>
                    
                                                    <li><a href="#">My Attendance</a></li>
                                                    
                                                    <li><a href="/boss/<%= username %>/contacts">Contacts</a></li>
                    
                                                    <li><a href="/boss/<%= username%>/profile">My Profile</a></li>
                                                </ul>
                                            </nav>
                                    </div>
                    
                                    
                                </div>
                            </div>
                
                            
                
                        </section>
                <!-- Background Curve -->
                <div class="background-curve">
                    <img src="/img/core-img/curve-1.png" alt="">
                </div>

            </div>

    </section>

      

   
            
<section>
    <!-- ***** Footer Area Start ***** -->
    <footer class="footer-area section-padding-80-0">
        <div class="container">
           

        </div>
    </footer>
    <!-- ***** Footer Area End ***** -->
</section>
    <!-- ******* All JS Files ******* -->
    <!-- jQuery js -->
    <script src="/js/jquery.min.js"></script>
    <!-- Popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- All js -->
    <script src="/js/uza.bundle.js"></script>
    <!-- Active js -->
    <script src="/js/default-assets/active.js"></script>

    <script src="/js/todo.js"></script>

    <!-- Announcements js-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="/js/announcements-events.js"></script>

</body>

</html>