<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="uza - Model Agency HTML5 Template">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>UPSIDC</title>

    <!-- Favicon -->
    <link rel="icon" href="/img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="/style.css">

    <!-- <link href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"> -->
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    
    <link href="/css/style-todo.css" rel="stylesheet">
    <!-- Announcements -->
    <script type="text/javascript" src="/js/sortit.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/announcements-events.css" rel="stylesheet">


    <!--chat box css-->
    <style type="text/css">
        .chat {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .chat li {
            margin-bottom: 10px;
            padding-bottom: 5px;
            border-bottom: 1px dotted #B3A9A9;
        }

        .chat li.left .chat-body {
            margin-left: 60px;
        }

        .chat li.right .chat-body {
            margin-right: 60px;
        }


        .chat li .chat-body p {
            margin: 0;
            color: #777777;
        }

        .panel .slidedown .glyphicon,
        .chat .glyphicon {
            margin-right: 5px;
        }

        .panel-body {
            overflow-y: scroll;
            height: 405px;
        }

        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: #E7E7E7;
        }

        ::-webkit-scrollbar {
            width: 8px;
            background-color: #F5F5F5;
        }

        ::-webkit-scrollbar-thumb {
            background-color: dodgerblue;
            border: 1px solid rgba(92, 92, 92, 0.5);
            border-radius: 10px;
        }
    </style>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

    <!--humne khud banaya-->
    <style>
        a:hover{ 
            text-decoration: none;
        }
        @media (min-width: 1200px){
            .row-added {
                margin-right: -15px;
                margin-left: -200px;
            }
            .column-added{
                text-orientation:upright; 
                writing-mode: vertical-rl;
                
            }
            .topmargin{
                margin-top: 15%;
            }
            
        }
        @media (min-width: 992px) and (max-width: 1199px){
            .row-added {
                margin-right: -15px;
                margin-left: -15px;
            }
            .column-added{
                text-orientation:upright; 
                writing-mode: vertical-rl;
               
            }
            .topmargin{
                margin-top: 15%;
            }
            
        }
        @media (min-width: 768px) and (max-width: 991px){
            .row-added {
                margin-right: -15px;
                margin-left: -15px;
            }
            h2 {
                margin-left: 200px;
                margin-bottom: -75px;
            }
            .topmargin{
                margin-top: 15%;
            }
            .chat-flex{
                flex: 0 0 100%;
                max-width: 95%;
                margin: auto;
            }
            leftfix{
                left: -5%;
            }
        }


    @media (min-width: 576px) and (max-width: 767px){
            .row-added {
                margin-right: -15px;
                margin-left: -15px;
            }
            .topmargin{
                margin-top:15%;
            }
            h2 {
                margin-left: 120px;
                margin-bottom: -75px;
            }
            leftfix{
                left: -6%;
            }
            
        }

    @media (min-width: 405px) and (max-width: 575px){
            .topmargin{
                margin-top:15%;
            }
            h2 {
            margin-left: 80px;
            margin-bottom: -75px;
            }
            leftfix{
                left: -4%;
            }
            
        }

    @media (min-width: 380px) and (max-width: 404px){
            .topmargin{
                margin-top:15%;
            }
            h2 {
            margin-left: 40px;
            margin-bottom: -75px;
            }
           
        }

    @media (min-width: 350px) and (max-width: 379px){
            .topmargin{
                margin-top: 15%;
            }
            h2 {
            margin-left: 10px;
            margin-bottom: -75px;
            }
            
        }
    @media (min-width: 320px) and (max-width: 349px){
            .topmargin{
                margin-top: 15%;
            }
            h2 {
            
            margin-bottom: -75px;
            }
        }

        .container_todo{
            width:90%;
            margin: auto;
        }
        
    
    .scroll_text{
    	height:500px;
	    overflow:auto;
        padding:0px 15px;
        
    }
    .scroll_text::-webkit-scrollbar {  
        width: 8px;  
    }  
    .scroll_text::-webkit-scrollbar-track {  
        background-color: #E7E7E7;
    }  
    .scroll_text::-webkit-scrollbar-thumb {  
        background-color: dodgerblue;
        border: 1px solid rgba(92, 92, 92, 0.5);
        border-radius: 10px;
    }  
    .scroll_text::-webkit-scrollbar-thumb:hover {  
        background-color: #000;  
    }
    .pt-lg-5{
        padding-top: 0!important;
    }
    </style>
    
</head>

<body style="font-family:Aileron">
    <!-- Preloader -->
    <div id="preloader">
        <div class="wrapper">
            <div class="cssload-loader"></div>
        </div>
    </div>

    

    <!-- ***** Header Area Start ***** -->
    <header class="header-area">
        <!-- Main Header Start -->
        <div class="main-header-area">
            <div class="classy-nav-container breakpoint-off">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between" id="uzaNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="/employees/<%= username %>"><img src="/img/core-img/logo+.png" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">
                        <!-- Menu Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul id="nav">
                                <li class="current-item"><a href="/employees/<%= username %>">Home</a></li>
                                
                                <li><a href="#todo">To-Do</a></li>

                                <li><a href="#">My Attendance</a></li>
                                
                                <li><a href="/employees/<%= username %>/contacts">Contacts</a></li>

                                <li><a href="/employees/<%= username%>/profile">My Profile</a></li>
                                <li><a href="/logout">Log Out</a></li>
                            </ul>

               

                        </div>
                        <!-- Nav End -->

                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->



    <!-- ***** Welcome Area Start ***** -->
    <section class="welcome-area">
        

            

            <!-- Single Welcome Slide -->
            <div class="single-welcome-slide">
                <section class="two-column-list mb-sm-5 pr-lg-3 container-fluid" id="two-column-list">
                            <div class="container_todo">
                                <div class="row " >
                                        <div class="col-lg-1 pr-0 topmargin">   
                                                <h2 class="column-added">
                                                        ANNOUNCEMENTS
                                                    </h2>
                                        </div>
                                        
                                    <div class="col-lg-5 pr-0 topmargin leftfix" style="left: -6%;">
                                        <section aria-label="Announcements" class="announcements scroll_text">
                                           
                                            <div class="announcement-slider border-r-xs-0 border-r position-relative ">
                                                <div>
                                                    <ul class="nolist list-unstyled position-relative mb-0 px-lg-5 pt-lg-5 ">
                                                        <% announcements.forEach(function(announcement){ %>
                                                        <li class="border-bottom pb-3 mt-3">
                                                            <span class="meta text-uppercase"><h5 ><b><font color="dodgerblue"><%= announcement.date %></font></b></h5></span>
                                                            <h4 class="font-weight-bold mt-0 ">
                                                                    <%= announcement.announcement %>
                                                            </h4>
                                                        </li>
                                                        <% }) %>
                                                    </ul>
                                                </div>
                                        </section>
                                        <br><br>
                                        <div>
                                            
                                            <button name="refresh" class="uza-btn btn-2">Refresh</button>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-1 topmargin" ></div>

                                    <!-- Chat Start Here-->
                                    <div class="col-md-4 topmargin chat-flex">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <span class="glyphicon glyphicon-comment"></span> Chat
                                                <div class="btn-group pull-right">
                                                        <button type="button" class="btn btn-default btn-xs ">
                                                                <a href="http://www.jquery2dotnet.com"><span
                                                                    class="glyphicon glyphicon-refresh">
                                                                </span></a>
                                                            
                                                        </button>
                                                        
                                                    </div>
                                                </div>
                                                <div class="panel-body">
                                                    
                                                    <ul class="chat" id="chatList">
                                                        <% messages.forEach(function(message){ %>
                                                        <% if(message.name == name){ %>
                                                        <li class="right clearfix"><span class="chat-img pull-right">
                                                                <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar"
                                                                    class="img-circle" />
                                                            </span>
                                                            <div class="chat-body clearfix">
                                                                <div class="header">
                                                                    <small class=" text-muted"><span class="glyphicon glyphicon-time"></span><%= message.time %></small>
                                                                    <strong class="pull-right primary-font"><%= message.name %></strong>
                                                                </div>
                                                                <p>
                                                                    <%= message.message %>
                                                                </p>
                                                            </div>
                                                        </li>
                                                        <% } else { %>
                                                        <li class="left clearfix"><span class="chat-img pull-left">
                                                                <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar"
                                                                    class="img-circle" />
                                                            </span>
                                                            <div class="chat-body clearfix">
                                                                <div class="header">
                                                                    <strong class="primary-font"><%= message.name %></strong> <small
                                                                        class="pull-right text-muted">
                                                                        <span class="glyphicon glyphicon-time"></span><%= message.time %></small>
                                                                </div>
                                                                <p>
                                                                    <%= message.message %>
                                                                </p>
                                                            </div>
                                                        </li>
                                                        <% } %>
                                                        <% }) %>
                                                    </ul>

                                                       
                                                </div>
                                            <form id="form1">
                                                <div class="panel-footer">
                                                    <div class="input-group">
                                                        <input name="message" id="btn-input" type="text" class="form-control input-sm"
                                                            placeholder="Type your message here..." />
                                                        <span class="input-group-btn">
                                                            <input type="button" class="btn btn-warning btn-sm" id="btn-chat" value="Send">
                                                        </span>
                                                    </div>
                                                </div>
                                            </form>
                                            </div>
                                        </div>
                                </div>
                                <div class="row topmargin">
                                    <div class="col-md-6" id="todo">
                                        <div class="todolist not-done">
                                         <h1>To-do</h1>
                                            <input style="font-size:20px" type="text" class="form-control add-todo" placeholder="Add to-do">
                                                <button id="checkAll" style="font-size:20px" class="btn btn-primary">Mark all as done</button>
                                                
                                                <hr>
                                                <ul id="sortable" class="list-unstyled" style="font-size:20px">
                                                <% todoList.forEach(function(todo){ %>
                                                <li class="ui-state-default">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" value="" /><%= todo %>
                                                        </label>
                                                    </div>
                                                </li>
                                                <% }) %>
                                            </ul>
                                            <div class="todo-footer" style="font-size:20px">
                                                <strong><span class="count-todos"></span></strong> Items Left
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="todolist">
                                         <h1>Already Done</h1>
                                            <ul id="done-items" class="list-unstyled" style="font-size:20px">
                                                <% todoDoneList.forEach(function(todoDone){ %>
                                                <li><%= todoDone %> <button class="remove-item btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-remove"></span></button></li>
                                                <% }) %>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-between topmargin" style="display:flow-root">

                                    <!-- Single Footer Widget -->
                                    <div class="col-12 col-sm-6 col-lg-3">
                                        <div class="single-footer-widget mb-80">
                                            <!-- Widget Title -->
                                            <h4 class="widget-title">Quick Links</h4>
                    
                                            <!-- Nav -->
                                            <nav>
                                                <ul class="our-link">
                                                    <li class="current-item"><a href="/">Home</a></li>
                                                    
                                                    <li><a href="#todo">To-Do</a></li>
                    
                                                    <li><a href="#">My Attendance</a></li>
                                                    
                                                    <li><a href="/employees/<%= username %>/contacts">Contacts</a></li>
                    
                                                    <li><a href="/employees/<%= username%>/profile">My Profile</a></li>
                                                </ul>
                                            </nav>
                                    </div>
                    
                                    
                                </div>
                            </div>
                
                            
                
                        </section>
                <!-- Background Curve -->
                <div class="background-curve">
                    <img src="/img/core-img/curve-1.png" alt="">
                </div>

            </div>

    </section>

      

   
            
<section>
    <!-- ***** Footer Area Start ***** -->
    <footer class="footer-area section-padding-80-0">
        <div class="container">
           

        </div>
    </footer>
    <!-- ***** Footer Area End ***** -->
</section>
    <!-- ******* All JS Files ******* -->
    <!-- jQuery js -->
    <script src="/js/jquery.min.js"></script>
    <!-- Popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- All js -->
    <script src="/js/uza.bundle.js"></script>
    <!-- Active js -->
    <script src="/js/default-assets/active.js"></script>

    <script src="/js/todoE.js"></script>

    <!-- Announcements js-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="/js/announcements-events.js"></script>

    <script type="text/javascript">          
        $(document).ready(function(){
            $('input[id="btn-chat"]').on('click',function(e){
                if(document.getElementById('btn-input').value != ""){
                    $("#chatList")
                    .append(
                        $("<li>").attr('class','right clearfix')
                        .append(
                            $("<span>").attr('class','chat-img pull-right')
                            .append(
                                $("<img>").attr('src','http://placehold.it/50/FA6F57/fff&text=ME').attr('alt','User Avatar').attr('class','img-circle')
                            )
                        )
                        .append(
                            $("<div>").attr('class', 'chat-body clearfix')
                            .append(
                                $("<div>").attr("class","header")
                                .append(
                                    $("<small>").attr('class','text-muted')
                                    .append(
                                        $("<span>").attr('class','glyphicon glyphicon-time')
                                    )
                                    .text(new Date())
                                )
                                .append(
                                    $("<strong>").attr("class","pull-right primary-font").text("<%= name %>")
                                )
                                .append(
                                    $("<p>").text(document.getElementById('btn-input').value)
                                )
                            )
                        )
                    )
                    e.preventDefault();

                    var frm = $(this).closest("form");
                    var frm_id = frm.attr("id");
                    var frm_id_splitted = frm_id.split("_");
                    var frm_id_splitted_2 = frm_id_splitted[2];

                    var frm_serialized = frm.serialize();
                    $.ajax({
                            url: "/chatAppend",
                            method: "POST",
                            data: frm_serialized,
                            success: function(data) {
                                console.log(data);
                                $('div#id_div_' + frm_id_splitted_2).append(data);
                            }
                    });
                }
            });
        });
    </script>
</body>

</html>